.recenterButton {
  position: fixed;
  bottom: 2.5%;
  left: 45%;
  z-index: 1;
  height: 60px;
  display: block;
  cursor: pointer;
}

.recenterButton:active {
  filter: brightness(80%);
}

